/* Navbar.css */

.navbar {
    background-color: #dee2e6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  
  .navbar div {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
  }
  
  .navbar div:last-child {
    margin-right: 0;
  }
  
  .navbar div:hover {
    color: #007bff;
  }
  
  /* Adicione a linha sublinhada ao item ativo */
  .navbar div.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid #007bff;
  }
  